{% extends 'base.html' %}

{% block body %}
<div class="container heading-div heading-main-page">
  <h2 >Categories</h2>
  <h4>Choose a product category</h4>
</div>
<div class="container mycontent">
  <hr class="solid" style="margin-top: 2%;">
  <div class="row justify-content-md-center">

    <div class="col-lg-3 col-md-4 col-sm-4 mb-1  part-name">
      <a href="{{ url_for('cpu') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/cpu.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>CPU</h4>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-4 mb-1 part-name">
      <a href="{{ url_for('memory') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/ram.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>MEMORY</h4>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-4 mb-1 part-name">
      <a href="{{ url_for('storage') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/storage.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>STORAGE</h4>
        </div>
      </a>
    </div>

  </div><!-- end row -->

  <div class="row justify-content-md-center">

    <div class="col-lg-3 col-md-4 col-sm-4 mb-1  part-name">
      <a href="{{ url_for('graphics') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/gpu.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>Graphics</h4>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-4 mb-1 part-name">
      <a href="{{ url_for('monitor') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/monitor.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>Monitor</h4>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-4 mb-1 part-name">
      <a href="{{ url_for('power') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/power.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>Power Supply</h4>
        </div>
      </a>
    </div>

  </div><!-- end row -->

  <div class="row justify-content-md-center">

    <div class="col-lg-3 col-md-4 col-sm-4 mb-1  part-name">
      <a href="{{ url_for('motherboard') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/motherboard.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>Motherboard</h4>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-4 mb-1 part-name">
      <a href="{{ url_for('cabinet') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/cabinet.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>Cabinet</h4>
        </div>
      </a>
    </div>

    <!-- <div class="col-lg-3 col-md-4 col-sm-4 mb-1 part-name">
      <a href="{{ url_for('storage') }}" class="text-reset text-decoration-none">
        <div class="part-image">
          <img src="/static/power.svg" height="100" width="100" />
        </div>
        <div class="part-text">
          <h4>Power Supply</h4>
        </div>
      </a>
    </div> -->

  </div><!-- end row -->
</div><!-- end container -->


<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 box">
      <img src="/static/cpu.svg" />
    </div>
    <div class="col-md-4 box">
      <img src="/static/ram.svg" />
    </div>
    <div class="col-md-4 box">
      <img src="/static/gpu.svg" />
    </div>
  </div>
</div> -->
{% endblock body %}