{% extends 'base.html' %}

{% block body %}
<div class="container storage-table">
  <table class="table table-hover" id="priceStorage">
    <thead>
      <tr>
        <th scope="col"><a href="#" class="text-reset text-decoration-none">Sno.</a></th>
        <th scope="col"><a href="#" class="text-reset text-decoration-none">Product</a></th>
        <th scope="col"><a href="#" class="text-reset text-decoration-none">Site</a></th>
        <th scope="col"><a href="#" class="text-reset text-decoration-none"> Price in ₹ </a></th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
        {% if item.stock == "In stock" %}
          <tr class="clickable">
            <th scope="row">{{loop.index}}</th>
            <td><a href="{{ item.url }}" class="text-reset text-decoration-none" target="_blank">{{item.products}}</a></td>
            {% if "mdcomp" == item.site %}
            <td>Md Computers</td>
            {% else %}
            <td>{{item.site}}</td>
            {% endif %}
            <td>{{item.price}}</td>
          </tr>
        {% else %}
        <tr class="clickable table-danger">
          <th scope="row">{{loop.index}}</th>
          <td><a href="{{ item.url }}" class="text-reset text-decoration-none" target="_blank">{{item.products}}</a></td>
          {% if "mdcomp" == item.site %}
          <td>Md Computers</td>
          {% else %}
          <td>{{item.site}}</td>
          {% endif %}
          <td>{{item.price}}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock body %}