{% extends 'base.html' %}

{% block body %}
<div class="container storage-table">
    <table class="table table-hover" id="priceStorage">
      <thead>
        <tr>
          <th scope="col"><a href="#" class="text-reset text-decoration-none">Sno.</a></th>
          <th scope="col"><a href="#" class="text-reset text-decoration-none">Product</a></th>
          <th scope="col"><a href="#" class="text-reset text-decoration-none"> Price in ₹ </a></th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr class="clickable" onclick="window.open('{{ item.url }}', '_blank')">
            <th scope="row">{{loop.index}}</th>
            <td >{{item.products}}</td>
            <td>{{item.price}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  
{% endblock body %}